@import 'reset.css';
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import 'colors.css';
@import 'tailwind.css';

body {
  background-color: var(--background);
  color: var(--text);
}

main h1 {
  font-size: 40px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* 
.row {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 15px;
  display: flex;
  gap: 10px;
}

.column {
  overflow: hidden;
  width: 50%;
  overflow-wrap: break-word;
}

.container {
  width: 450px;
  color: white;
}

.container img {
  width: 200px;
}
*/
